body{
    margin: 0;
    margin-top: 150px;
}

/* Navbar */
#navbar-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    /* background-color: rgb(60,100,136); */
    background-color: #171717;
    padding: 0px 50px;
    color: whitesmoke;
    font-weight: 700;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: fit-content;
}

#logo{
    font-size: 2rem;
    margin: 15px 0;
}

#navbar-items{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin-top: 5px;
}

#navbar-items ul{
    list-style: none;
}

#navbar-items ul li{
    display: inline-block;
    margin: 0 15px;
    font-size: 1.2rem;
    padding: 10px;
    color: whitesmoke;
}

#buttons-container{
    /* padding-top: 10px; */
    /* margin: 10px 0; */
    margin-right: 0px;
}

#buttons-container button{
    margin: 0 4px;
    height: 40px;
    width: 90px;
    border-style: none;
    border-radius: 5px;
    background-color: whitesmoke;
    font-weight: 700;
    color: #1B2430;
    font-size: 1.1rem;
}

#navbar-items ul li:hover{
    background-color: whitesmoke;
    border-radius: 5px;
    color: #1B2430;
    font-weight: 700;
}

/********************** Contact Us Section ***********************/
#contact h1{
    font-size: 3.5rem;
    margin: 15px 100px;
    color: black;
    text-shadow: 3px 3px 3px black;
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
}


.contact-container{
    width: 90%;
    background-color: #171717;
    color: whitesmoke;
    margin: auto;
    padding: 50px 50px;
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    margin-bottom: 80px;
}

.main{
    width: 40%;
    margin: 0 50px;
    margin-top: 130px;
    text-align: center;
    font-size: 1.1rem;
}

/* *********** CSS for Footer ******************** */
.footer-div{
    background-color: #171717;
    color: whitesmoke;
    padding: 30px;
    text-align: center;
    font-size: 1.3rem;
}
