body{
    margin: 0;
    /* background-color: #1B2430; */
    padding-top: 120px;
    /* background-image: linear-gradient(45deg,#171717 50%,whitesmoke 40%); */
}

/* Navbar */
#navbar-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: #171717;
    padding: 0px 50px;
    color: whitesmoke;
    font-weight: 700;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#logo{
    font-size: 2rem;
    margin: 20px 0;
}

#navbar-items{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin-top: 5px;
}

#navbar-items ul{
    list-style: none;
}

#navbar-items ul li{
    display: inline-block;
    margin: 0 15px;
    font-size: 1.4rem;
    padding: 10px;
    color: whitesmoke;
}

#buttons-container{
    padding-top: 10px;
    margin: 10px 0;
    margin-right: 100px;
}

#buttons-container button{
    margin: 0 4px;
    height: 40px;
    width: 90px;
    border-style: none;
    border-radius: 10px;
    background-color: whitesmoke;
    font-weight: 700;
    color: #171717;
    font-size: 1.1rem;
}

#navbar-items ul li:hover{
    background-color: whitesmoke;
    border-radius: 5px;
    color: #171717;
}

/* About Us CSS */
#title{
    text-align: center;
    margin-bottom: 10px;
    color: black;
    font-size: 3.5rem;
    text-shadow: 3px 3px 3px black;
}

.about-container{
    /* background-color: #E8F9FD; */
    padding: 60px 50px;
    width: 75%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    margin-bottom: 100px;
    /* background-color: #171717; */
    background-color: #171717;
    color: whitesmoke;
    /* background-color: rgba(0, 0, 0, 0.3); */
}

/* Icons CSS */
.icons-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px 130px;
}

.icons{
    /* background-color: rgb(60,100,136); */
    height: 100px;
    padding: 20px 30px;
    width: 280px;
    margin-bottom: 30px;
    transition: all 300ms ease-in-out;
}

.icons:hover{
    transform: scale(1.1,1.1);
    background-color: whitesmoke;
    border-radius: 20px;
    color: black;
}

.icons-title{
    position: relative;
    bottom: 10px;
}

.icons-title h3{
    font-size: 1.3rem;
    font-weight: 900;
    color: grey;
}

.icons-title h1{
    font-size: 2rem;
    margin-top: -10px;
}

.icons img{
    float: left;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    right: 20px;
}

/* *********** CSS for Footer ******************** */
.footer-div{
    background-color: #171717;
    color: whitesmoke;
    padding: 30px;
    text-align: center;
    font-size: 1.3rem;
}
