body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("new.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.feedback-container{
    background-image: linear-gradient(225deg,rgb(60,100,136),rgb(166, 208, 244));
    padding: 20px 200px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #3F4E4F;
}

.feedback-container h1{
    color: whitesmoke;
    font-size: 4rem;
}

.form-container{
    padding-left: 50px;
}

.form-container input{
    border-style: none;
    background-color: whitesmoke;
    margin-bottom: 20px;
    height: 30px;
    width: 70%;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.1rem;
}

.form-container textarea{
    width: 70%;
    border-style: none;
    background-color: whitesmoke;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.1rem;
}

.form-container button{
    background-color: rgb(60,100,136);
    color: whitesmoke;
    font-size: 1.3rem;
    padding: 10px 20px;
    border-style: none;
    border-radius: 5px;
}