body{
    background-image: linear-gradient(to right,white,rgb(60,100,136));
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
}

/* Navbar */
#navbar-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(60,100,136);
    padding: 0px 50px;
    color: whitesmoke;
    font-weight: 700;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#logo{
    font-size: 2rem;
    margin: 20px 0;
}

#navbar-items{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin-top: 5px;
}

#navbar-items ul{
    list-style: none;
}

#navbar-items ul li{
    display: inline-block;
    margin: 0 20px;
    font-size: 1.2rem;
    padding: 10px;
    color: whitesmoke;
}

#buttons-container{
    padding-top: 10px;
    margin: 10px 0;
    margin-right: 100px;
}

#buttons-container button{
    margin: 0 4px;
    height: 40px;
    width: 90px;
    border-style: none;
    border-radius: 10px;
    background-color: #1B2430;
    font-weight: 700;
    color: whitesmoke;
    font-size: 1.1rem;
}

#navbar-items ul li:hover{
    background-color: #1B2430;
    border-radius: 10px;
    color: whitesmoke;
    
}


/* Signin Form */
.signin-container{
    width: 75%;
    height: 850px;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    margin: 150px auto;
}

.side-container{
    width: 70%;
    height: 100%;
}

.side-container img{
    height: 100%;
    width: 100%;
}

.form-container{
    width: 60%;
    height: 100%;
    padding-top: 100px;
}

.form-container h1{
    margin-left: 60px;
    font-size: 3rem;
    color: rgb(60,100,136);
    font-weight: 900;
}

.form-container form{
    margin-left: 60px;
    margin-top: 100px;
}

.credentials{
    border-style: none;
    border-bottom: 2px solid rgb(128, 128, 128,0.5);
    background-color: whitesmoke;
    height: 30px;
    width: 60%;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 1.1rem;
}

.credentials:focus{
    outline: none;
}

#rememberme{
    height: 15px;
    width: 15px;
}

.form-container label{
    margin-left: 5px;
    position: absolute;
    margin-left: 6px;
}

.form-container button{
    margin-top: 40px;
    height: 60px;
    width: 60%;
    text-align: center;
    padding: 10px;
    font-size: 1.4rem;
    background-color: rgb(60,100,136);
    color: whitesmoke;
    box-shadow: 2px 2px 5px rgb(73, 71, 75);
    border-style: none;
    border-radius: 20px;
}

/* *********** CSS for Footer ******************** */
.footer-div{
    background-color: rgb(60,100,136);
    color: whitesmoke;
    padding: 30px;
    text-align: center;
    font-size: 1.3rem;
}