body{
    /* background-image: linear-gradient(to right,white,rgb(60,100,136)); */
    /* background-image: linear-gradient(to right,#acacac,#1B2430); */
    /* background-image: url("new1.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    background-image: linear-gradient(45deg,#171717 50%,whitesmoke 40%);
    z-index: -1;
}

/* Navbar */
#navbar-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: rgb(60,100,136); */
    /* background-color: #002B5B; */
    background-color: #171717;
    padding: 0px 50px;
    color: whitesmoke;
    font-weight: 700;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#logo{
    font-size: 2rem;
    margin: 20px 0;
}

#navbar-items{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin-top: 5px;
}

#navbar-items ul{
    list-style: none;
}

#navbar-items ul li{
    display: inline-block;
    margin: 0 15px;
    font-size: 1.2rem;
    padding: 10px;
    color: whitesmoke;
}

#buttons-container{
    padding-top: 10px;
    margin: 10px 0;
    margin-right: 100px;
}

#buttons-container button{
    margin: 0 4px;
    height: 40px;
    width: 90px;
    border-style: none;
    border-radius: 10px;
    background-color: whitesmoke;
    font-weight: 700;
    color: #171717;
    font-size: 1.1rem;
}

#navbar-items ul li:hover{
    background-color: whitesmoke;
    border-radius: 10px;
    color: #171717;
    font-weight: 700;
}


/* Signin Form */
.signin-container{
    width: 50%;
    /* height: 650px; */
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    margin: 150px auto;
    text-align: center;
    /* background-image: rgba(255,255,255,0.1); */
    background-color: rgba(255, 255, 255, 0.3);
    padding-bottom: 80px;
    box-shadow: 5px 5px 20px 10px black;
}

/* .side-container{
    width: 70%;
    height: 100%;
}

.side-container img{
    height: 100%;
    width: 100%;
} */

.form-container{
    width: 100%;
    height: 100%;
    padding-top: 80px;
}

.form-container h1{
    margin-left: 60px;
    font-size: 4rem;
    /* color: rgb(60,100,136); */
    color: black;
    font-weight: 900;
}

.form-container form{
    margin-left: 60px;
    margin-top: 100px;
}

.credentials{
    border-style: none;
    border-bottom: 2px solid rgb(128, 128, 128,0.5);
    background-color: whitesmoke;
    height: 30px;
    width: 60%;
    margin-bottom: 30px;
    padding: 12px;
    font-size: 1.1rem;
    border-radius: 5px;
}

.credentials:focus{
    outline: none;
}

#rememberme{
    height: 15px;
    width: 15px;
    /* position: relative;
    right: 100px; */
}

.form-container label{
    margin-left: 5px;
    position: absolute;
    margin-left: 6px;
}

.form-container button{
    margin-top: 40px;
    height: 60px;
    width: 60%;
    text-align: center;
    padding: 10px;
    font-size: 1.4rem;
    /* background-color: rgb(60,100,136); */
    /* background-color: #002B5B; */
    background-color: #171717;
    color: whitesmoke;
    box-shadow: 2px 2px 5px rgb(73, 71, 75);
    border-style: none;
    border-radius: 5px;
}

/* *********** CSS for Footer ******************** */
.footer-div{
    /* background-color: rgb(60,100,136); */
    /* background-color: #002B5B; */
    background-color: #171717;
    color: whitesmoke;
    padding: 30px;
    text-align: center;
    font-size: 1.3rem;
}